{% extends './empleados.html' %}
{% block title %}Empleado altas{% endblock %}

{% block body %}

<script src="{{ url_for('static', filename='js/layout.js') }}"></script>


<div class="container mt-5">
    
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}

    <div class="row d-flex justify-content-center">
        <div class="col">
            <form action="{{url_for('add_empleados')}}" method="POST", id="form">
                <div class="row px-2">
                    
                    <div class="col mt-2">
                        <input type="text" class="form-control" id="RFC" name="RFC" placeholder="RFC" required>
                        <small id="RFCNHelpBlock" class="form-text text-muted">
                            Registro Federal de Contribuyentes.
                        </small>
                    </div>
                    <div class="col mt-2">
                        <input type="text" class="form-control" id="NOMBRE" name="NOMBRE" placeholder="Nombre" required>
                    </div>
                    
                </div>
                
                <div class="row px-2">
                    
                    <div class="col mt-3">
                        <input type="text" class="form-control" id="Domicilio" name="Domicilio" placeholder="Domicilio" required>
                    </div>

                </div>

                <div class="row px-2">
                    
                    <div class="col mt-3">
                        <input type="password" class="form-control" id="CONTRASEÑA" name="CONTRASEÑA" placeholder="Contraseña" required>
                    </div>

                    <div class="col mt-3">
    
                        <select class="form-control" id="CARGO" name="CARGO">
                            <option selected disabled>Choose...</option>
                            <option value="BIBLIOTECARIO">BIBLIOTECARIO</option>
                            <option value="JEFE">JEFE</option>
                            <option value="ADMINISTRADOR">ADMINISTRADOR</option>

                        </select>
                        <small id="CargoHelpBlock" class="form-text text-muted">
                            Puesto del empleado.
                        </small>

                    </div>
                </div>
                
                <div class="row px-2">
                    
                    <div class="col mt-3">
                        <input type="text" class="form-control" placeholder="Correo" id="CORREO" name="CORREO" required>
                    </div>
                    
                    <div class="col mt-3">
                        <select class="form-control" id="ESTADO" name="ESTADO">
                            <option selected value="1">Activo</option>
                        </select>
                        <small id="EstadoHelpBlock" class="form-text text-muted">
                            Estado del empleado.
                        </small>
                    </div>
                    
                    <div class="col mt-3">
                        <input type="number" class="form-control" placeholder="Salario diario" id="SALARIO" name="SALARIO" required>
                    </div>
                    
                </div>

                <div class="row px-2">
                    <div class="col mt-3">
                        <button type="submit" class="btn btn-dark">Registrar</button>                  
                    </div>

                </div>

            </form>
        </div>

        
    </div>


</div>
<script>
    
    (function() {
        'use strict';
       
        let detener = false

        const RFC = document.getElementById("RFC")
        const NOMBRE  = document.getElementById("NOMBRE")
        const DOMICILIO  = document.getElementById("DOMICILIO")
        const CONTRASEÑA  = document.getElementById("CONTRASEÑA")
        const PUESTO  = document.getElementById("CARGO")
        const CORREO  = document.getElementById("CORREO")
        const ESTADO  = document.getElementById("ESTADO")
        const SALARIO = document.getElementById("SALARIO")
        
        NOMBRE.classList.add('is-valid')
        DOMICILIO.classList.add('is-valid')
       
        CONTRASEÑA.classList.add('is-valid')
        CORREO.classList.add('is-valid')
        
        let regrexCORREO = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i
        
        let regrexNUMBERFloat = /^[0-9]+([.])?([0-9]+)?$/
       
        let regrexRFC =  /^[A-Z&Ñ]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]$/

        const form = document.getElementById("form")

        form.addEventListener("submit", e=>{
            if(!regrexCORREO.test(CORREO.value)){
                detener = true
                CORREO.classList.add('is-invalid')

            }else
            {
                CORREO.classList.add('is-valid')
            }

            if(!regrexRFC.test(RFC.value)){
                detener = true
                RFC.classList.add('is-invalid')

            }else
            {
                RFC.classList.add('is-valid')
            }

            if(!regrexNUMBERFloat.test(SALARIO.value))
            {
                detener = true
                SALARIO.classList.add('is-invalid')

            }else
            {
                SALARIO.classList.add('is-valid')

            }
            if(detener == true)
            {
                e.preventDefault()
                e.stopPropagation()
                detener = false
            }

        })

      })();
</script>
{% endblock %}