{% extends './empleados.html' %}
{% block title %}Empleados lista{% endblock %}

{% block body %}
<form action="{{url_for('consulta_empleado')}}" method="POST", id="form">
  <div class="container m-2 pb-2">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col-6">
        <input type="text" class="form-control" id="RFC" name="RFC" placeholder="RFC">
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary small ml-3 btn-dark">Consulta</button>
      </div>
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">RFC</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ingreso</th>
      <th scope="col">Telefono</th>
      <th scope="col">Salario</th>
      <th scope="col">Cargo</th>
      <th scope="col">Domicilio</th>
      <th scope="col">Estado</th>
      <th scope="col">Correo electrónico</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <td> {{empleado.0}}</td>
      <td> {{empleado.2}}</td>
      <td> {{empleado.3}}</td>
      <td> {{empleado.4}}</td>
      <td> {{empleado.5}}</td>
      <td> {{empleado.6}}</td>
      <td> {{empleado.7}}</td>
      <td> {{empleado.8}}</td>
      <td> {{empleado.9}}</td>
    
      <td>
        <a class="btn btn-danger" href="/empleados/lista/edit/{{ empleado.0 }}">Editar</a>
      </td>


    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}