{% extends './empleados.html' %}
{% block title %}Libros lista{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
        <th scope="col">RFC</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de ingreso</th>
        <th scope="col">Número de Teléfono</th>
        <th scope="col">Salario diario</th>
        <th scope="col">Cargo</th>
        <th scope="col">Domicilio</th>
        <th scope="col">Correo electrónico</th>
      </tr>
    </thead>
    <tbody>
        <!--
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    -->
    </tbody>
  </table>
{% endblock %}