{% extends './libros.html' %}
{% block title %}Libros lista{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
<form>
  <div class="container m-2 pb-2">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col-6">
        <input type="text" class="form-control" id="ISBN" placeholder="ISBN">
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary small ml-3 btn-dark">Consulta</button>
      </div>
    </div>
  </div>
</form>

<table class="table">

    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Nombre</th>
        <th scope="col">Autor</th>
        <th scope="col">Editorial</th>
        <th scope="col">SCDD</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tomo</th>
      </tr>
    </thead>
    <tbody>
      <!-- TEXTO DE PRUEBA -->
      <tr>
        <th scope="row">0-7645-2641-3</th>
        <td>En las montañas de la locura</td>
        <td>HP.Lovecraft</td>
        <td>Norma</td>
        <td>713</td>
        <td>5</td>
        <td>1</td>
      </tr>

      <tr>
        <th scope="row">0-4643-5441-4</th>
        <td>Escuadron</td>
        <td>Brandon Sanderson</td>
        <td>Nova</td>
        <td>716</td>
        <td>5</td>
        <td>1</td>
      </tr>

      <tr>
        <th scope="row">0-7445-2431-7</th>
        <td>Cítonica</td>
        <td>Brandon Sanderson</td>
        <td>Nova</td>
        <td>718</td>
        <td>5</td>
        <td>1</td>
      </tr>

      <tr>
        <th scope="row">0-7433-2121-8</th>
        <td>El caso de Charles Dexter Ward</td>
        <td>HP.Lovecraft</td>
        <td>Norma</td>
        <td>719</td>
        <td>5</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
{% endblock %}