{% extends './libros.html' %}
{% block title %}Libros altas{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>

<div class="container mt-5">
    <a href="/libros/titulos/lista">
        <img src="{{ url_for('static', filename='img/arrow_back_black_24dp.svg') }}" alt="" width="30" height="24">
    </a>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}
    <div class="row d-flex justify-content-center">
        <div class="col">
            <form action="{{url_for('add_libro_nuevo')}}" method="POST", id="form">
                <div class="row px-2">
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{titulo.0}}</label>
                        <input type="hidden" class="form-control form-text text-muted" id="ISBN" name="ISBN" placeholder="ISBN" value="{{titulo.0}}">
                        <small id="ISBNHelpBlock" class="form-text text-muted">
                            International Standard Book Number. Este número es el identificador del titulo.
                        </small>
                    </div>
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{id.0 + 1}}</label>
                        <input type="hidden" class="form-control form-text text-muted" id="ID" name="ID" placeholder="ID" value="{{id}}">
                        <small id="IDHelpBlock" class="form-text text-muted">
                            Identificador del libro.
                        </small>
                    </div>
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{ejemplar.0 + 1}}</label>
                        <input type="hidden" class="form-control form-text text-muted" id="EJEMPLAR" name="EJEMPLAR" placeholder="EJEMPLAR" value="{{ejemplar.0}}">
                        <small id="EJEMPLARHelpBlock" class="form-text text-muted">
                            Numero de ejemplar.
                        </small>
                    </div>
                </div>
                
                <div class="row px-2">
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{titulo.1}}</label>
                        <small id="NOMBREHelpBlock" class="form-text text-muted">
                            Nombre del libro.
                        </small>
                    </div>
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{titulo.2}}</label>
                        <small id="AUTORHelpBlock" class="form-text text-muted">
                            Autor del libro.
                        </small>
                    </div>
                </div>

                <div class="row px-2">
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{titulo.3}}</label>
                        <small id="EDICIONHelpBlock" class="form-text text-muted">
                            Edicion del libro.
                        </small>
                    </div>
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{titulo.4}}</label>
                        <small id="SCDDHelpBlock" class="form-text text-muted">
                            Sistema Dewey de clasificación.
                        </small>
                    </div>
                    <div class="col mt-3">
                        <label for="staticEmail2" class="form-control">{{titulo.5}}</label>
                        <small id="EDITORIALDHelpBlock" class="form-text text-muted">
                            Editorial.
                        </small>
                    </div>
                </div>

                <div class="row px-2">
                    <div class="col mt-3">
                        <input type="text" class="form-control" placeholder="Costo" name="Costo" id="Costo">
                        <small id="CostoHelpBlock" class="form-text text-muted">
                            Solo admite números decimales y enteros.
                        </small>
                    </div>
                    
                    <div class="col mt-3">
                    <select class="form-control" id="Estado" name="Estado">
                        <option selected disabled>Choose...</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                    <small id="EstadoHelpBlock" class="form-text text-muted">
                        Estado del libro.
                    </small>
                    </div>
                    
                    <div class="col mt-3">
                        <select class="form-control" id="DAMAGE" name="DAMAGE">
                            <option selected disabled>Choose...</option>
                            <option value="NINGUNO">Ninguno</option>
                            <option value="TOTALES">Totales</option>
                            <option value="PARCIALES">Parciales</option>
                        </select>
                        <small id="DañosHelpBlock" class="form-text text-muted">
                            Daños del libro.
                        </small>
                    </div>
                </div>

                <div class="row px-2">
                    <div class="col mt-3">
                    <button type="submit" class="btn btn-dark">Registrar</button>                  
                </div>

            </form>
        </div>
    </div>    
</div>
<script>
    
    (function() {
        'use strict';

        const COSTO = document.getElementById("Costo")

        const ESTADO = document.getElementById("Estado")
        const DAMAGE = document.getElementById("DAMAGE")

        let regrexNUMBER = /^-?\d+$/

        let regrexNUMBERFloat = /^[0-9]+([.])?([0-9]+)?$/

        let detener = false

        const form = document.getElementById("form")
        form.addEventListener("submit", e=>{
            if(DAMAGE.value == "NINGUNO" ||  DAMAGE.value == "TOTALES" || DAMAGE.value == "PARCIALES")
            {
                DAMAGE.classList.add('is-valid')
                
            }else
            {
                detener = true
                DAMAGE.classList.add('is-invalid')
            }
            if(ESTADO.value == "0" || ESTADO.value == "1")
            {
                COSTO.classList.add('is-valid')
                
            }else
            {
                detener = true
                ESTADO.classList.add('is-invalid')
            }
            if(!regrexNUMBERFloat.test(COSTO.value))
            {
                detener = true
                COSTO.classList.add('is-invalid')

            }else
            {
                COSTO.classList.add('is-valid')

            }
            if(detener == true)
            {
                e.preventDefault()
                e.stopPropagation()
                detener = false
            }

        })

      })();
</script>
{% endblock %}