{% extends './membresia.html' %}
{% block title %}Membresias altas{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>

<div class="container mt-5">
    <a href="/membresia/lista">
        <img src="{{ url_for('static', filename='img/arrow_back_black_24dp.svg') }}" alt="" width="30" height="24">
    </a>
    {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endif %}

    <div class="row d-flex justify-content-center">
        <div class="col">
            <form action="{{url_for('edited_membresia')}}" method="POST", id="form">
                <div class="row px-2">
                    
                    <div class="col mt-2">

                        <label for="staticEmail2" class="form-control text-muted">{{miembro.0}}</label>
                        <input type="hidden" class="form-control" id="IDMEMBRESIA" name="IDMEMBRESIA" placeholder="IDMEMBRESIA" value="{{miembro.0}}" required>
                        <small id="IDMEMBRESIA" class="form-text text-muted">
                            ID Membresia. Autogenerada.
                        </small>
                    </div>
                    <div class="col mt-2">
                        <label for="staticEmail2" class="form-control text-muted">{{miembro.0}}</label>
                        <input type="hidden" class="form-control" id="IDUSUARIO" name="IDUSUARIO" placeholder="ID USUARIO" value="{{miembro.1}}" required>
                        <small id="IDUSUARIO" class="form-text text-muted">
                            ID Usuario.
                        </small>
                    </div>
                    
                </div>
                
                <div class="row px-2">
                    
                    <div class="col mt-3">
                        <input type="text" class="form-control" id="DOMICILIO" name="DOMICILIO" placeholder="Domicilio" value="{{miembro.3}}" required>
                    </div>
                </div>
                <div class="row px-2">
                    <div class="col mt-3">
                        <input type="text" class="form-control" placeholder="Correo electronico" id="CORREO" name="CORREO" value="{{miembro.6}}" required>
                        <small id="CorreoHelpBlock" class="form-text text-muted">
                            Correo electronico.
                        </small>
                    </div>
                </div>

                <div class="row px-2">
                    
                    <div class="col mt-3">
                        <input type="date" class="form-control"  id="NACIMIENTO" name="NACIMIENTO" value="{{miembro.2}}" required>
                        <small id="NACIMIENTOHelpBlock" class="form-text text-muted">
                            Fecha de nacimiento.
                        </small>
                    </div>
                    
                    <div class="col mt-3">
                        <select class="form-control" id="ESTADO" name="ESTADO" required>
                            {% if miembro.7 == 1 %}
                            <option selected disabled>Choose...</option>
                            <option selected value="2" >Renovar</option>
                            <option selected value="0" >Vencida/Anulada</option>
                            <option selected value="1" >Vigente</option>
                            {% else %}
                            <option selected disabled>Choose...</option>
                            <option selected value="2" >Renovar</option>
                            <option selected value="0" >Vencida/Anulada</option>
                            {% endif%}
                        </select>
                        <small id="DañosHelpBlock" class="form-text text-muted" required>
                            Estado de la membresía y/o renovación de la misma.
                        </small>
                    </div>
                    
                </div>

                <div class="row px-2">
                    <div class="col mt-3">
                        <button type="submit" class="btn btn-dark">Guardar cambios</button>             
                    </div>
                </div>

            </form>
        </div>

        
    </div>


</div>

<script>
    
    (function() {
        'use strict';
        const USUARIO = document.getElementById("IDUSUARIO")
        const ESTADO = document.getElementById("ESTADO")
        const NACIMIENTO = document.getElementById("NACIMIENTO")
        const ID = document.getElementById("IDMEMBRESIA")
        const CORREO = document.getElementById("CORREO")
        const DOMICILIO = document.getElementById("DOMICILIO")
        let regrexCORREO = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i
        
        let detener = false
        const form = document.getElementById("form")
        form.addEventListener("submit", e=>{

            DOMICILIO.classList.add('is-valid')
            USUARIO.classList.add('is-valid')
            ESTADO.classList.add('is-valid')
            NACIMIENTO.classList.add('is-valid')
            ID.classList.add('is-valid')
            
            if(!regrexCORREO.test(CORREO.value)){

                detener = true
                CORREO.classList.add('is-invalid')
                
            }else
            {
                CORREO.classList.add('is-valid')
            }
            if(detener == true)
            {
                e.preventDefault()
                e.stopPropagation()
                detener = false
            }

        })

      })();
</script>
{% endblock %}