{% extends './membresia.html' %}
{% block title %}Membresias lista{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID Membresia</th>
      <th scope="col">ID Visitante</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Domicilio</th>
      <th scope="col">Estatus</th>
      <th scope="col">Fecha de expiración</th>
      <th scope="col">Correo electrónico</th>
      <th scope="col">Fecha de expedición</th>

    </tr>
  </thead>
  <tbody>
      <!--
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  -->
  </tbody>
</table>

</form>
{% endblock %}