{% extends './layout.html' %}

{% block head %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/prestamos/login">Nuevo préstamo<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prestamos/devolver">Devolver/Consultar prestamos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prestamos/adeudos">Adeudos<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  
{% endblock %}
{% block title %}Préstamos{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid m-5 pb-5">
  <div class="container">
    <h1 class="display-4">Bienvenido al apartado de préstamos</h1>
    <p class="lead">Este apartado podrás hacer préstamos, devoluciones, revisar el historial de amonestaciones, así como listar los préstamos activos y los retardos.</p>
  </div>
</div>
{% endblock %}