{% extends './prestamos.html' %}
{% block title %}Prestamos lista{% endblock %}

{% block body %}
<form>
  <div class="container m-2 pb-2">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col-6">
        <input type="text" class="form-control" id="IDPRESTAMO" placeholder="ID Prestamo">
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary small ml-3 btn-dark">Consulta</button>
      </div>
    </div>
  </div>
</form>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">ID Membresia</th>
      <th scope="col">Fecha de préstamo</th>
      <th scope="col">Fecha de devolución</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!--
        <th scope="row">1</th>
        <td>10/24/2020</td>
        <td>13/24/2020</td>
      -->
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ISBN</th>
      <th scope="col">Nombre</th>
      <th scope="col">Autor</th>
      <th scope="col">Editorial</th>
      <th scope="col">SCDD</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Tomo</th>
    </tr>
  </thead>
  <tbody>
      <!--
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  -->
  </tbody>
</table>
</form>
{% endblock %}