<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <title>Registro de visitantes</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/account_circle_white_24dp.svg') }}">
</head>

<body>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5" id="form1">
              <!-- <form action="{{url_for('add_libro')}}" method="POST"> -->
              <form>
                <div class="form-group px-2">
                    <label for="ISBN">Nombre</label>
                    <input type="text" class="form-control" id="ISBN" name="ISBN">
                </div>
                <div class="form-group px-2">
                    <label for="Nombre">Télefono</label>
                    <input type="text" class="form-control" id="Nombre" name="Nombre">
                </div>
                
                <button type="submit" class="btn btn-dark w-100">Registrar visita</button>
              </form>

            </div>
        </div>
    </div>
  </div>
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <a href="/">
      <img src="{{ url_for('static', filename='img/logout_black_24dp.svg') }}" alt="" width="30" height="24">
    </a>
  </div>  
</div>

</body>

</html>