{% extends './membresia.html' %}
{% block title %}Lista de Usuarios{% endblock %}

{% block body %}
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
<form action="{{url_for('consulta_usuario')}}" method="POST" , id="form">
  <div class="container m-2 pb-2">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col-6">
        <input type="number" class="form-control" id="ID" name="ID" placeholder="ID">
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary small ml-3 btn-dark">Consulta</button>
      </div>
    </div>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Estado</th>
      <th scope="col">Tipo</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>

  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td> {{usuario.0}}</td>
      <td> {{usuario.1}}</td>
      <td> {{usuario.3}}</td>
      <td> {{usuario.4}}</td>
      <td> {{usuario.5}}</td>
      <td>
        <a class="btn btn-danger" href="/membresia/altas/{{usuario.0}}">Nueva membresía</a>
        <a class="btn btn-info" href="/membresia/altas/edit/{{usuario.0}}">Editar</a>
      </td>

    </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}